html {
	font-size: 18px;
}

body {
	min-width: 320px;
	background: none repeat scroll 0 0 $white;
	color: $trout;
	font-family: $sans-serif;
	line-height: 1.4;
	font-weight: 300;
}

a {
	color: $pacific-blue;
	outline: medium none;
	overflow: hidden;
	text-decoration: none;
}

fieldset {
	border: 0 none;
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
}

th {
	text-align: left;
}

td {
	padding: 1em;
	vertical-align: top;
}

button,
.button,
input[type="button"] {
	background-color: $pacific-blue;
	border-radius: 10px;
	color: $white;
	cursor: pointer;
	display: inline-block;
	font-size: rem(18);
	font-weight: 700;
	padding: .9em 5.1em;
	text-align: center;
	transition: all 0.3s ease;
	
	&:hover {
		background-color: lighten($pacific-blue, 5)
	}
}

h4,
.h4-title {
	font-weight: bold;
	font-size: rem(40);
	line-height: 1.2;
	margin-bottom: 20px;
}

h3,
.h3-title {
	font-weight: bold;
	font-size: rem(50);
	line-height: 1.1;
}

.title-line {
	overflow: hidden;

	&:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		box-sizing: border-box;
		width: 100%;
		height: 3px;
		background: $pacific-blue;
		border: solid $white;
		border-width: 0 0 0 9px;
		margin-right: -100%;
	}

	&--gray:after {
		background: $gainsboro;
	}
}