html {
	font-size: 16px;
}

body {
	min-width: 320px;
	background: none repeat scroll 0 0 $white;
	color: $trout;
	font-family: $sans-serif;
}

a {
	color: $pacific-blue;
	outline: medium none;
	overflow: hidden;
	text-decoration: none;
}

fieldset {
	border: 0 none;
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
}

th {
	text-align: left;
}

td {
	padding: 1em;
	vertical-align: top;
}

button,
.button,
input[type="button"] {
	background-color: $pacific-blue;
	border-radius: 10px;
	color: $white;
	cursor: pointer;
	display: inline-block;
	font-size: 1.1em;
	font-weight: 700;
	padding: 0.5em 2em;
	text-align: center;
	transition: all 0.3s ease;
	
	&:hover {
		background-color: lighten($pacific-blue, 5)
	}
}