.slider-sec {
    margin-top: 300px;
    position: relative;
    
    &:after {
        content: '';
        width: 90%;
        height: 69%;
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: $white-smoke;
        z-index: -1;
    }


    &__title {
        float: left;
    }

    &__item {
        padding: 70px 40px 58px;
        border-radius: 20px;
        opacity: 0;
        box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.06);
        background-color: $white;

        &.swiper-slide-active,
        &.swiper-slide-next,
        &.swiper-slide-next + .slider-sec__item {
            opacity: 1;
        }
    }

    .swiper {
        padding: 50px 100px 80px;
        max-width: 1340px;
        top: -120px;
    }

    &__item-title {
        font-size: rem(36);
        line-height: 0.9;
        font-weight: normal;
        display: flex;
        align-items: center;
        margin-bottom: 63px;
        
        &::before {
            content: '';
            margin-right: 20px;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: $silver;
            flex-shrink: 0;
        }
    }

    &__list {
        padding-left: 8px;
    }

    &__list-item {
        position: relative;
        padding-left: 30px;
        margin-bottom: 25px;

        &:before {
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $pacific-blue;
            position: absolute;
            left: 0;
            top: 0;
            transform: translateY(100%);
        }
    }

    .slider-sec__button {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
        border-radius: 10px;
        background-color: $white;
        width: 60px;
        height: 60px;

        &:after {
            content: none;
        }
    }

    .swiper-button-prev {
        left: 10px;
    }

    .swiper-button-next {
        right: 10px;
        transform: rotate(180deg);
    }

    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        margin-left: 15px !important;
        margin-right: 15px !important;
        opacity: 1;
        background-color: $silver;

        &.swiper-pagination-bullet-active {
            background-color: $trout;
        }
    }
}

