
//functions
@function rem($value) {
    $remValue: ($value / 18) + rem; 
    @return $remValue;
}

$index: calc(1vw + 1vh);

// colors
// names taken from http://www.color-blindness.com/color-name-hue/
$black: #000;
$white: #fff;
$white-smoke: #f9f9f9;

$trout: #4A4D4E;
$silver: #C4C4C4;
$dark-gray: #B4B4B4;
$night-rider: #333333;
$gainsboro: #E5E5E5;

$pacific-blue: #0091e6;

// fonts
$sans-serif: 'Roboto', sans-serif;

$transition-all: all 0.25s;

// global classes

* {
    &::selection {
        background: rgba($pacific-blue, .45);
      }
}

.loader {
	opacity: 0;
	transition: $transition-all;
}